#container{
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #666;
    background: #EEEEE0;
    font-family: 'Exo', 'PT Mono', sans-serif;
}

#title{
    background: #59FF59;
    border: 1px dashed #666;
    font-family: 'Prosto One', cursive;
    
}

.centerTitle{
    font-size: medium;
    text-align:center;
}


#menuBar{
    background: #6CB726;
    border-top: 1px dashed #666;
}
.menuItem{
    background-color: #dddddd;
    margin: 0px 2px 0px 2px;
}

.footer{
    font-size: small;
    text-align:center;
}
