#container{
    width: 64%;
    margin: auto;
    padding: 20px;
    border: 1px dashed #999999;
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

#title{
    background: #ECFFD2;
    border: 1px dashed #999999;
    font-family: 'Open Sans', sans-serif;
    
}

#menuBar{
    background: #F0F0F0;
    border-top: 1px dashed #999999;
}
.menuItem{
    background-color: #E8F9FF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 5px 10px 20px;
    width: 80%;
}

.footer{
    font-size: small;
    text-align:center;
    width: 100px;
    margin: auto;
}

.centerTitle{
    font-size: medium;
    text-align:center;
    padding: 10px;
}

.toRight{
    float: right;
}

#login{
    width: 30%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px dashed #999999;
}
