#container{
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #666;
    background: #FFFFFF;
    font-family: 'Exo', sans-serif;
}

#title{
    background: #F1FCF1;
    border: 1px dashed #666;
    font-family: 'Shadows Into Light Two', cursive;
    
}

#menuBar{
    background: #F0F0F0;
    border-top: 1px dashed #666;
}
.menuItem{
    background-color: #FFF1F0;
    margin: 0px 2px 0px 2px;
}

.footer{
    font-size: small;
    text-align:center;
}

.centerTitle{
    font-size: medium;
    text-align:center;
}